:host {
  display: block;
  font-family: 'Noto Sans', sans-serif;
}

.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  transition:
    box-shadow 0.3s,
    transform 0.3s;
}

.fav-product-card {
  border-radius: 0px;
  overflow: hidden;
  position: relative;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.product-card {
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 0px;
  overflow: hidden;
  position: relative;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.product-card:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  display: block;
}

.favorite-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.heart-icon {
  fill: white;
  font-size: 1.5rem;
  color: #111010;
}

.heart-icon.active {
  fill: rgb(235, 124, 124);
}

.product-info {
  padding: 0.5rem;
  text-align: left;
}

.product-name {
  margin: 0;
  font-size: large;
}

.product-price {
  margin: 0;
  color: #555;
}
