.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left .logo {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-right {
  display: flex;
  gap: 1rem;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.icon {
  font-size: 24px;
}
