.nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.icon-link .icon {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 1.5;
}

.icon-link:hover {
  color: rgb(185, 184, 184);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-center {
  font-size: 1.8rem;
  text-decoration: none;
  justify-self: center;
}

.nav-center .logo:hover {
  text-decoration: none;
}

.nav-right {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.icon {
  font-size: 24px;
}

@media (max-width: 600px) {
  .nav {
    grid-template-columns: auto auto 1fr;
  }

  .nav-left {
    order: 1;
  }

  .nav-center {
    order: 2;
    margin-left: 0.5rem;
  }

  .nav-right {
    order: 3;
    justify-content: flex-end;
  }
}
